# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#################################3 Client ##############################3
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

/server/node_modules
# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


.env