.card {

    display: flex;
    gap:10px;
    padding: "10px 0";
    flex-direction: column;
    cursor: pointer;
    h3{
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Limit to 3 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        margin: 10px 0;
    }
    p{
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Limit to 3 lines */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .price {
        font-weight: 500;
        margin: 10px 0;
    }
}

.cart-quantity-action{
    display: flex;
    .cartButton{
        width: 20px;
        height: 20px;
        font-weight: bold;
        margin: 0 10px;
        background: #cfcfcf;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }
}


.productContainer{
    display: flex;
    margin: 25px 0;
}

.input-wrapper {
    width: 150px;
    height: 30px;
    display: flex;
    border-radius: 50%;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        }

input[type="number"] {
  -moz-appearance: textfield;
  padding: 10px;
  text-align: center;
  border: 1px solid #efefef;
}

* {
  border: none;
  width: 50px;
  flex: 1;
}

button {
  cursor: pointer;
}

 button:first-child {
  color: red;
}

  button:last-child {
    color: green;
  }
}

.product_filter{
  display:flex;
  flex-direction: column;

  .search_filter{
      margin-bottom: 40px;
  }
  .sort_filter{
    ul{
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 15px;
      li{

      }
    }
  }
}